
  
<div class="grid-container">
  <div>
    <mat-grid-list [cols]="chartCols" rowHeight="100px">
      <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header class="dashboard-card__header">
            <mat-card-title>
              <h3>{{card.title}}</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="h-full">
              <app-pgu-list *ngIf="card.chart === 'pgu-list'"></app-pgu-list>
              <app-chart *ngIf="card.chart === 'chart'"></app-chart>
              <app-pgu-detail *ngIf="card.chart === 'pgu-detail'" [isDisplayOnly]="true"></app-pgu-detail>
              <app-pgu-constraint class="h-full" *ngIf="card.chart === 'pgu-constraint'"></app-pgu-constraint>
              <app-pgu-penalties class="h-full" *ngIf="card.chart === 'pgu-infractions'"></app-pgu-penalties>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
